{% if menu %}


	<ul class="navbar-nav ml-auto">
        {% for item in menu %}
			<li class="nav-item {{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" href="{{ item.link }}" class="nav-link">{{ item.title }}</a>
                {% include "menu.twig" with {'menu': item.get_children} %}
			</li>
        {% endfor %}
	</ul>


{% endif %}